<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <footer class="text-muted border-top border-light shadow-lg">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <a href="https://www.facebook.com/leonid.piochenkov" class="btn btn-social-icon btn-lg btn-facebook">
                <span class="fab fa-facebook"></span>
            </a>
            <a href="https://www.instagram.com/braynll/" class="btn btn-social-icon btn-lg btn-instagram">
                <span class="fab fa-instagram"></span>
            </a>
            <a href="https://vk.com/lenik.tacher" class="btn btn-social-icon btn-lg btn-vk">
                <span class="fab fa-vk"></span>
            </a>
            <a href="mailto:t70a80@gmail.com" class="btn btn-social-icon btn-lg btn-envelope">
                <span class="fa fa-envelope"></span>
            </a>
        </div>
    </footer>
</div>