<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom border-dark shadow">
        <img src="https://image.flaticon.com/icons/svg/3075/3075908.svg" width="20" height="23">
        <h5 class="my-0 ml-3 mr-md-auto font-weight-normal">My Notes</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/notes">Заметки</a>
            <a class="p-2 text-dark" href="/notes/add">Добавить запись</a>
            <a class="p-2 text-dark" href="/about">Контакты</a>
        </nav>
    </div>
</div>

